/*----  #55c57a, #7ed56f, #28b485   Green----*/


/*----  #ffb900, #ff7730, -------   Orange---*/


/*----  #2998ff, #5643fa, -------   Blue-----*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

:root {
    --primary-text-color: #777;  
    --orange-background-gradient: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));    
    --blue-background-gradient: linear-gradient(to right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));    
    --green-background-gradient: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: var(--primary-text-color);
	padding: 2rem;
	box-sizing: border-box;
}

/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/

@keyframes moveInFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInFromRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInFromBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes pulse {
	0% {
		transform: scale(.9);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(.9);
	}
}

/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/



/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/

.btn:link,
.btn:visited,
button {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	border-radius: 20rem;
	transition: all .2s;
	position: relative;
}

.btn:hover,
button:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
button:active {
	transform: translateY(-1px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after,
button::after {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all .4s;
}

.btn:hover::after,
button:hover::after {
	transform: scaleX(1.4), scaleY(1.6);
}

.btn-white {
	background-color: #fff;
	color: var(--primary-text-color);
}

.btn-white::after {
	background-color: #fff;
	opacity: 0;
}

.btn-animated {
	animation: moveInFromBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

.btn-custom:link,
.btn-custom:visited {
	padding: .75rem 2rem;
	color: #fff;
}

.btn-custom:hover,
.btn-custom:active {
	color: #fff;
}

/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/



/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.margin-bottom-big {
	margin-bottom: 8rem;
}

.margin-bottom-small {
	margin-bottom: 4rem;  
}

.section-title {
	display: inline-block;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	background-image: var(--green-background-gradient);
	-webkit-background-clip: text;
	color: transparent;
	transition: all .2s;
}

.section-title:hover {
	transform: skewY(2deg) skewX(15deg) scale(1.1);
	text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-heading {
	font-size: 1.6rem; !important;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/

#navigation {
    position: relative;
}

#navigation #navi-toggle {
    display: none;
}

#navigation #navi-toggle:checked ~ #navi-background {
    transform: scale(50);
}

#navigation #navi-toggle:checked ~ #navi-nav {
    opacity: 1;
    width: 100%;
}

#navigation #navi-toggle:checked + #navi-btn #navi-icon {
    background-color: transparent;
}

#navigation #navi-toggle:checked + #navi-btn #navi-icon:before {
    transform: rotate(135deg);
    top: 0;
}

#navigation #navi-toggle:checked + #navi-btn #navi-icon:after {
    transform: rotate(-135deg);
    top: 0;
}

#navigation #navi-btn {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navigation #navi-btn:hover #navi-icon::before {
    top: -1rem;
}

#navigation #navi-btn:hover #navi-icon::after {
    top: 1rem;
}

#navi-btn #navi-icon {
    position: relative;
}

#navi-btn #navi-icon,
#navi-btn #navi-icon::before, 
#navi-btn #navi-icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #737373;
}

#navi-btn #navi-icon::before, 
#navi-btn #navi-icon::after {
    content: "";
    position: absolute;
    left: 0;
}

#navi-btn #navi-icon::before {
    top: -.8rem;
}

#navi-btn #navi-icon::after {
    top: .8rem;
}

#navigation #navi-nav {
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 11;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    
}

#navi-nav #nav-list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
   
}

#nav-list .nav-list-item {
    margin: 1rem;
}

.nav-list-item a:link,
.nav-list-item a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s;
}

.nav-list-item a:hover,
.nav-list-item a:active {
    background-position: 100%;
    color: #7ed56f;
    transform: translateX(1rem);
}

.nav-list-item span {
    display: inline-block;
    margin-right: 1.5rem;
}

#navigation #navi-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#55c57a, #28b485);
    top: 6.5rem;
    right: 6.5rem;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);
}

#header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/austin-distel-mpN7xjKQ_Ns-unsplash.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

#header #logo-container {
    position: absolute;
    top: 4.6rem;
    left: 4rem;
}

#logo-container #logo {
    display: inline-block;
    height: 7.4rem;
    animation: pulse 1.5s infinite;
}

#header #slogan {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#header #slogan h1 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	font-weight: 700;
	letter-spacing: 1.1rem;
	margin-bottom: 6rem;
}

#header #slogan h1 #slogan-line-1 {
	display: block;
	animation: moveInFromLeft 1s ease-out;
}

#header #slogan h1 #slogan-line-2 {
	display: block;
	animation: moveInFromRight 1s ease-out;
}

#blog-section {
	background-color: #f7f7f7;
	padding: 25rem 0;
	margin-top: -20vh;
}

#blog-section .blog {
	height: 50rem;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transition: transform .3s ease-out;
}

#blog-section .blog:hover {
	transform: translateY(-1.5rem) scale(1.03);
}

#blog-section .blog-excerpt {
	padding: 1.5rem;
	margin-bottom: 5rem;
}

#blog-section .blog-excerpt .blog-meta {
	font-size: 1.3rem;
	margin-bottom: .2rem;
}

#blog-section .blog-excerpt .cite {
	-webkit-background-clip: text;
	color: transparent;
}

#blog-section .blog-excerpt .cite-1 {
	background-image: var(--blue-background-gradient);
}

#blog-section .blog-excerpt .cite-2 {
	background-image: var(--orange-background-gradient);
}

#blog-section .blog-excerpt .cite-3 {
	background-image: var(--green-background-gradient);
}

#blog-section .blog-img {
	height: 19.9rem;
	background-size: cover;
	background-blend-mode: screen;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

#blog-section .blog-img.blog-img-1 {
	background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/01.jpg);
}

#blog-section .blog-img.blog-img-2 {
	background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/02.jpg);
}

#blog-section .blog-img.blog-img-3 {
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/03.jpg);
}

#blog-section .blog-excerpt .blog-call-to-action {
	margin: 3rem 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

#blog-section .blog-excerpt .blog-call-to-action li {
	font-size: 1.3rem;
	color: #342e37;
}

#blog-section .blog-excerpt .blog-call-to-action li .btn-custom-1 {
	background-image: var(--blue-background-gradient);
}

#blog-section .blog-excerpt .blog-call-to-action li .btn-custom-2 {
	background-image: var(--orange-background-gradient);
}

#blog-section .blog-excerpt .blog-call-to-action li .btn-custom-3 {
	background-image: var(--green-background-gradient);
}

#services-section {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
	background-size: cover;
	background-position: top;
    transform: skewY(-7deg);
    margin-top: -8rem;
}

#services-section > * {
    transform: skewY(7deg);
}

#services-section .heading {
	font-size: 2.2rem;
	!important;
	margin-bottom: 20px;
}

#services-section .service {
    width: 100%;
    height: 37.4rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
}

#services-section .service .service-side {
    width: 100%;
    height: 37.4rem;
    background-color: rgba(255, 255, 255, 0.8);
	font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

#services-section .service .service-front-side {
}

#services-section .service .service-back-side {
    transform: rotateY(180deg);
}

#services-section .service:hover .service-front-side {
    transform: rotateY(-180deg);
}

#services-section .service:hover .service-back-side {
    transform: rotateY(0deg);
}

#services-section .service ion-icon {
	font-size: 6rem;
	/*background-image: var(--green-background-gradient);
    -webkit-background-clip: text;
    color: transparent;*/
	margin-bottom: .5rem;
}

#portfolio-section {
	background-color: #f7f7f7;
	padding: 25rem 0;
	margin-top: -11.9vh;
}

#portfolio-section #works {
    width: 100%;
    height: auto;
    padding: 25rem 0;
    position: relative;
}

#portfolio-section #works .work {
    display: block;
    width: 47%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    outline-offset: 1.5rem;
    position: absolute;
    z-index: 0;
    transition: all 0.3s ease-in;
}

#portfolio-section #works .work.work-1 {
    top: 0;
    left: 0;
}

#portfolio-section #works .work.work-2 {
    top: 0;
    right: 0;
}

#portfolio-section #works .work.work-3 {
    top: 70%;
    left: 0;
}

#portfolio-section #works .work.work-4 {
    top: 70%;
    right: 0;
}

#portfolio-section #works .work.work-5 {
    top: 35%;
    left: -5rem;
}

#portfolio-section #works .work.work-6 {
    top: 35%;
    right: -5rem;
}

#portfolio-section #works .work:hover {
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    outline: 1.5rem solid #55c57a;
    z-index: 1;
}

#testimonials-section {
	padding: 15rem 0;
    position: relative;
}

#testimonials-section #testimonial-bg-video {
    width: 100%;
    height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .13;
    overflow: hidden;
}

#testimonials-section #testimonial-bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials-section .testimonial {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 8rem;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6rem 6rem 6rem 9rem;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transform: skewX(-12deg);
}

#testimonials-section .testimonial:last-of-type {
    margin-bottom: 0;
}

#testimonials-section .testimonial figure {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
}

#testimonials-section .testimonial img {
    height: 100%;
    background-clip: padding-box;
    transition: all .3s ease-out;
    backface-visibility: hidden;
}

#testimonials-section .testimonial figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all .5s ease-out;
    backface-visibility: hidden;
} 

#testimonials-section .testimonial:hover figcaption {
    transform: translate(-50%, -50%);
    opacity: 1;
}

#testimonials-section .testimonial:hover img {
    transform: scale(.9);
    filter: blur(3px) brightness(90%);
} 

#testimonials-section .testimonial figcaption h6 {
    font-size: 1.2rem; 
    font-weight: 700;
}

#testimonials-section .testimonial figcaption em {
    font-size: .8rem;
}

#testimonials-section .testimonial .quote {
    transform: skewX(12deg);
}

#request-a-quote-section {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

#request-a-quote-section #request-a-qoute {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/andy-holmes-unsplash.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

#request-a-qoute .form-container {
    width: 50%;
    padding: 6rem;
}

.form-elements:not(:last-of-type) {
    margin-bottom: 2rem; 
}

.form-elements input, textarea {
    width: 90%;
    display: block;
    background-color: rgba(255, 255, 255, 0.56);
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .3s;
}

.form-elements input:placeholder-shown + label, textarea:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form-elements textarea {
	height: 120px;
}

.form-elements input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}

.form-elements input:focus:invalid, textarea:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.form-elements label {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .7rem 0 0 2rem;
}

.form-elements button {
    background-image: var(--green-background-gradient);
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-elements button:focus {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

#footer {
    background-color: #333;
	color: #fffffc;
	text-align: center;
	padding: 7rem 0 3rem 0;
}

#footer #footer-text {
    margin-bottom: 3rem;
}

#footer #footer-text h2 {
	font-size: 4rem;
	font-weight: 300;
    text-transform: uppercase;
	margin-bottom: 3rem;
}

#footer #footer-text p {
	font-size: 2rem;
    font-weight: 300;
}

#footer #footer-call-to-action {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.footer-cta-btn {
    color: #fff;
	background-image: var(--green-background-gradient);
}

#footer #copy-right-text {
	font-size: 1.7rem;
    font-weight: 300;
}

#contact-us-modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
}

#contact-us-modal:target {
    opacity: 1;
    visibility: visible;
}

#contact-us-modal:target #popup {
    transform: translate(-50%, -50%) scale(1);
}

#contact-us-modal #popup {
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    background-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/antonika-chanel-RJCslxmvBcs-unsplash.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .2s .3s;
}

#popup #close-modal:link,
#popup #close-modal:visited {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    line-height: 1;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 2.5rem;
    font-weight: 700;
}

#popup #close-modal:hover,
#popup #close-modal:active {
    color: #28b485;
}

#popup .form-container {
    width: 50%;
    padding: 5rem 3rem 5rem 9rem;
    float: right;
}













