/*--- Big desktops ---*/
@media only screen and (min-width:112.5em) {
	/*1800px*/
	html {
		font-size: 75%;
	}
}


/*--- Tablets in landscape mode ---*/
@media only screen and (max-width:75em) {   /*1200px*/
	html {
		font-size: 56.25%;
	}
	.row {
		max-width: 104rem;    /*-----------  MAXIMUM WIDTH OF GRID SYSTEM  -----------*/
	}
	#services-section .service {
		height: 40rem;
	}
	#services-section .service .service-side {
		height: 40rem;
	}
	#request-a-quote-section #request-a-qoute {
		background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../images/andy-holmes-unsplash.jpg);
		background-size: cover;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	}
	#request-a-qoute .form-container {
		width: 65%;
		padding: 6rem;
	}
	.form-elements input,
	textarea {
		width: 100%;
	}
}


/*--- Tablets in portrait mode ---*/
@media only screen and (max-width:56.25em) {    /*900px*/
	.row {
		width: 90%;
		max-width: 65rem !important;
		margin-bottom: 6rem;
	}
	.row [class^="colm-"] {
		width: 100%;
		margin: 0 auto 6rem auto !important;
	}
	html {
		font-size: 50%;
	}
	body {
		padding: 0;
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	.margin-bottom-big {
		margin-bottom: 5rem;
	}
	/*--------------------------------------------------------*/
	/*-------------------- OTHER UTILITY CLASSES -------------*/
	/*--------------------------------------------------------*/
	#header {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}
	.section-title {
		font-size: 2.5rem;
	}
	#blog-section {
		padding: 25rem 0 15rem 0;
	}
	#services-section {
		padding: 15rem 0 10rem 0;
		background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
		background-size: cover;
		background-position: top;
		transform: skewY(-7deg);
		margin-top: -8rem;
	}
	#services-section .service {
		width: 100%;
		height: auto;
		padding: 2rem 3rem 3rem 3rem;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	}
	#services-section .service .service-side {
		width: 100%;
		height: auto;
		background: none;
		padding: 0;
		border-radius: 0;
		border: none;
		box-shadow: none;
		position: relative;
	}
	#services-section .service .service-front-side {
		margin-bottom: 1.5rem;
	}
	#services-section .service .service-back-side {
		transform: rotateY(0);
	}
	#services-section .service:hover .service-front-side {
		transform: rotateY(0);
	}
	#services-section .service:hover .service-back-side {
		transform: rotateY(0);
	}
	#portfolio-section {
		padding: 20rem 0 0 0;
	}
	#portfolio-section #works .work {
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
	}
	#portfolio-section #works .work.work-1 {
		top: 15%;
		left: 0;
	}
	#portfolio-section #works .work.work-2 {
		top: 15%;
		right: 0;
	}
	#portfolio-section #works .work.work-3 {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
	}
	#portfolio-section #works .work.work-4 {
		top: 55%;
		right: 50%;
		transform: translateX(50%);
		z-index: 100;
	}
	#portfolio-section #works .work.work-5 {
		top: 40%;
		left: 0;
	}
	#portfolio-section #works .work.work-6 {
		top: 40%;
		right: 0;
	}
	#testimonials-section {
		padding: 10rem 0;
	}
	#testimonials-section .testimonial {
		width: 100%;
		padding: 4rem 4rem 4rem 7rem;
	}
	#request-a-quote-section {
		padding: 10rem 0 5rem 0;
	}
	#request-a-quote-section #request-a-qoute {
		background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../images/andy-holmes-unsplash.jpg);
		background-size: cover;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	}
	#request-a-qoute .form-container {
		width: 100%;
		padding: 6rem;
	}
	#footer {
		padding: 5rem 0 .5rem 0;
	}
}


/*--- Phones ---*/
@media only screen and (max-width:37.5em) {     /*600px*/
	.row {
		max-width: 50rem !important;
	}
	.section-title {
		font-size: 2rem;
	}
	#testimonials-section .testimonial {
		transform: skewX(0);
	}
	#testimonials-section .testimonial figure {
		transform: translateX(-3rem) skewX(0);
	}
	#testimonials-section .testimonial .quote {
		transform: skewX(0);
	}
}